
ul,li {
 list-style: none;
}

body {
  margin: 0pc;
padding: 0px;
  width: 100%;
  font-family: Raleway, sans-serif;
}
div {
  margin: 0px;
  padding: 0px;
}
hr {
 width: inherit;
  margin:5px 0px;
}
input {
  padding: 5px;
  font-size: 14px;
  font-weight:700;
}


#dock {
  position :relative;
}
#dimMask {
  opacity: .7;
  background: #3D3D3D;
  width: 100%;
  min-height: 2000px;
  position: absolute;
}
.settings-box {
  position: absolute;
  border: 2px solid #010101;
  left:  20%; 20px;
  top: 100px; 
  padding: 20px;
}

.settings-box h2 {
  font-size: 24px;
  color: #010101;
}
.settings-box input {
  width: 300px;
  border-radius: 7px;
}
  

.chalkColors {
  list-style: none;
}
.chalkColor {
  cursor:pointer;
  width: 126px;
  height: 126px;
  border: 2px solid #E3E3E3;
  border-radius:5px;
  margin-right: 5px;
  float: left;
  border: 2px solid transparent;
}
.chalkColor:hover {
  border: 3px solid #CCC;
}
.chalkColor.hoverable.blue:hover {
  background: lightBlue;
}
.chalkColor.hoverable.red:hover {
  background: lightRed;
}
.chalkColor.hoverable.yellow:hover {
  background: lightYellow;
}
.chalkColor.hoverable.green:hover {
  background: lightGreen;
}
.chalkColor.hoverable.black:hover { 
   background: #3D3D3D;
}
     

.chalkColor.selected {
  border: 2px solid #E3E3E3;
}
     
 

.chalkColor.blue {
  background: blue;
}
.chalkColor.red {
  background: red;
}

.chalkColor.black {
  background: black;
}
.chalkColor.yellow {
  background: yellow;
}
.chalkColor.green {
  background: green;
}


.whiteboard {
    background: #FFF;
    border: 2px solid #010101;
    float: left;
    position: relative;
}

.chat-window {
    float: left;
    position: relative;
    padding: 10px;
    background: #E3E3E3;
    border: 2px solid #E3E3E3;
    overflow-y: auto;
}

#chatMessages li .username {
  width: inherit;
  font-size: 20px;
   font-weight: bold; 
  float: left;
}
#chatMessages li .message {
  width: inherit;
  font-style: italic;   
  float: left;
}

#chatAlert {
  font-size: 14px;
  font-weight: 700;
  text-align: center; 
  border-radius: 7px;
  padding:7px;
  background: #FFF;
  width: 500px;
  position:absolute;
  top: 10px;
}


.chat-box {
    position:absolute; 
    left: 0px;
    width: 100%;
} 

.chalk {
  background: #010101;
  border-radius: 7em;
  width: 16px; 
  height: 16px;
  position: absolute;
  z-index: 99999;
}
.chalk.blue {
  background: blue;
}
.chalk.black {
  background: black;
}
.chalk.green {
  background: green;
}
.chalk.red {
  background: red;
}
.chalk.yellow {
  background: yellow ;
}



i, b {
  font-style: normal;
  font-weight: 400;
}

body {
  background: white;
}

body, td, input, textarea {
  font-family: source sans pro, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #222;
}

button {
  cursor: pointer;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.nprogress-logo {
  display: inline-block;

  width: 100px;
  height: 20px;
  border: solid 4px #2d9;
  border-radius: 10px;

  position: relative;
}
.nprogress-logo:after {
  content: '';
  display: block;

  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 40%;

  background: #2d9;
  border-radius: 3px;
}

.fade {
  transition: all 300ms linear 700ms;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
}

.fade.out {
  opacity: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.button {
  display: inline-block;
  text-decoration: none;

  background: #eee;
  color: #777;
  border-radius: 2px;

  padding: 8px 10px;
  font-weight: 700;
  text-align: left;
}

.button.play:before {
  content: '\25b6';
}

.button:hover {
  background: #2d9;
  color: #fff;
}

.button.primary {
  background: #2d9;
  color: #fff;
}
.button.primary:hover {
  background: #1c8;
}

.button:active {
  background: #2d9;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
}

.controls {
  text-align: left;
  margin: 0 auto;
  max-width: 300px;
  color: #666;
}

.controls .button {
  width: 40px;
  margin-right: 10px;
  text-align: center;
}

.controls i {
  color: #999;
}

.controls b {
  color: #29d;
  font-weight: 700;
}

.controls {
  font-size: 0.9em;
}

.page-header {
  margin: 1.5em auto;
  text-align: center;
  max-width: 400px;
  padding: 0 20px;
  margin: 3em auto;
}

.page-header h1 {
  font-size: 2.0em;
  text-align: center;
  font-weight: 200;
  line-height: 1.3;
  color: #333;
  margin: 0;
}

p.brief {
  line-height: 1.4;
  font-style: italic;
  color: #888;
}

p.brief.big {
  font-size: 1.1em;
}

@media (min-width: 480px) {
  .page-header h1 {
    margin-top: 1em;
    margin-bottom: 0.4em;
  }
}

.page-header h1 i {
  color: #aaa;
  font-style: normal;
  font-weight: 200;
}

@media (min-width: 480px) {
  .page-header h1 {
    font-size: 3em; }
  .page-header {
    margin: 4.5em auto 3.5em auto;
  }
}

/* --- */

.actions {
  text-align: center;
  margin: 2em 0;
}

@media (min-width: 480px) {
  .actions {
    margin: 4.5em 0 3.5em 0;
  }
}

.big.button {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.1em;
}


/* ---- */

div.hr-rule {
  height: 1px;
  width: 100px;
  margin: 40px auto;
  background: #ddd;
}
.share-buttons {
  margin: 0 auto;
  text-align: center;
}

.dialog {
   background: #FFF;
   border: 1px solid #E3E3E3;
  padding: 20px; 
}

#newUser {
    position: absolute;
    border: 1px solid #E3E3E3;
    padding: 20px;
   background:#FFF; 
    top:20px;
    left:0px;
    width:200px;
}

#members {
   position: relative;
   border: 1px solid #E3E3E3;
  padding:  20px;
   width:inherit;
   height: 30%;
   overflow-y: auto;
   
}
#members li {
  font-size: 14px;
  font-weight:700;
  margin-left: 5px;
}



#chatBox {
   height: 300px;
   margin-top:10px;
   width: inherit;
   font-size: 12px;
   font-weight: 700; 
   font-family: Arial, sans-serif;
   position: relative;
}
#chatBox textarea {
   border-radius: 7px;
   width: inherit;
}

#chatBox button {
   z-index:1;
   position: absolute;
   bottom: 7px;
   right: 4px;
}

#chatMessages { 
  overflow-y: auto;
  background: #FFF;
  border-radius: 7px;
  width: inherit;  
  height: 60%;
  border: 1px solid #E3E3E3;
  padding: 10px;
  font-size: 12px;
}






.ok-button {
  padding: 20px;
  border-radius: 7px;
  font-size: 24px;
  font-weight:700;
}


.say-button {
  position: absolute;
  top: 0px; 
  right: 3px;
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #FFF;
  background: #010101;
  padding:15px;
}
.clear {
  clear: both; 
}





    





